<header>
    {% if page.url == '/guides/' or page.url == '/docs/' %}
    page is /guides or /docs
    <nav class="navbar bg-custom">
    {% else %}
    <nav class="navbar bg-custom navbar-fixed-top">
    {% endif %}

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" aria-label="Open Liberty Home">
                    <img src="/img/docs_openliberty_logo.png" alt="Open Liberty Logo">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                    <img class="close_button" src="/img/nav_close_x.svg" alt="close button">
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/downloads">Get Started</a></li>
                    <li><a href="/guides">Guides</a></li>
                    <li><a href="/docs">Docs</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="fork_button" href="https://github.com/OpenLiberty/open-liberty">Fork the code</a></li>
                </ul>
                <div id="header_round_links_container" class="hidden-md hidden-lg">
                    <a id="header_twitter_link" class="header_round_btn" href="https://twitter.com/OpenLibertyIO" target="_blank" rel="noopener noreferrer" aria-label="Twitter"></a>
                    <a id="header_stackoverflow_link" class="header_round_btn" href="https://stackoverflow.com/questions/tagged/open-liberty" target="_blank" rel="noopener noreferrer" aria-label="Open Liberty questions on Stack Overflow"></a>
                    <a id="header_groupsio_link" class="header_round_btn" href="https://groups.io/g/openliberty" target="_blank" rel="noopener noreferrer" aria-label="Open Liberty Groups.io"></a>
                </div>
                <img id="tablet_images" class="visible-sm" src="/img/tab_nav_ufoclouds.svg" alt="tab_images">
            </div>
        </div>
    </nav>
</header>
    